.stats{text-align: left;}
.upgTitle{
    text-align: right;
    color: white;
}
body{background: black;}
.upgradebox{
    background-color: rgb(18, 18, 18);
    position: fixed;
    right: 0;
}
.upgrade{
    float: right;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.clickUpgBox{
    position: fixed;
    left: 0;
    background-color: rgb(18, 18, 18);
}
.ClickUpgTitle{
    color: white;
}
.clickupgrade{
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.stats{
    color: white;
    text-align: center;
}
button:enabled{
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.499);
}
button:enabled:active{
    box-shadow: 0px 0px 10px 5px rgba(0, 255, 242, 0.499);
}
button:disabled{
    cursor: not-allowed;
    background-color: white;
    color: black;
}
#mainclicker{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    margin: auto;
}
#mainclicker img{
    width: 196.8px;
    height: 196.8px;
}
.mainalign{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/*bruh why are comments like this in css, loser language fr*/